<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Music Recognition Tab</title>
    <!-- <link href="styles/app.css" rel="stylesheet" type="text/css"> -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
  </head>
  <body>

    <div class="wrapper">

      <header>
        <h1>Music Recognition Tab 2.1</h1>
      </header>

      <section class="main-controls">
        <canvas class="visualizer" height="60px"></canvas>
        <div id="buttons">
          <button class="record">Record</button>
          <button class="stop">Stop</button>
        </div>
      </section>

      <section class="sound-clips">


      </section>

      <!-- <label></label> -->

    </div>

    <label for="toggle">❔</label>
    <input type="checkbox" id="toggle">
    <aside>
      <h2>Information</h2>

      <p>This application uses the microphone and listens to a song for 20 seconds, it will then check its database for similar matches and display the results.</p>

      <p>Along with the song result, links from YouTube and UltimateGuitar Tab are displayed so the user can learn the song on guitar.</p>
    </aside>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/app.js')}}"></script>

  </body>
</html>