<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Music Recognition Tab</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/app.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/">Home</a>
      <a href="/upload">Upload</a>
    </div>

    <div class="wrapper">
      <h1>Music Recognition Tab</h1>

      <div id="controls">
      <button id="recordButton">Record</button>
      <button id="pauseButton" disabled>Pause</button>
      <button id="stopButton" disabled>Stop</button>
      </div>
      <br>
      <div id="formats"><p><strong>Format:</strong> start recording to see sample rate</p></div>
      <p><strong>Recordings:</strong></p>
      <ol id="recordingsList"></ol>
      <div>
        <br>
        <p><strong>Results:</strong></p>
        <!-- <button onClick='result()'>Show Results</button> -->
        <!-- {{ song }} -->
        <p id="result"></p>
      </div>
    </div>
    <!-- inserting these scripts at the end to be able to use all the elements in the DOM -->
    <script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
    <!-- <script src="https://code.jquery.com/jquery-3.1.0.js" ></script> -->
    <script type="text/javascript" src="{{url_for('static', filename='scripts/app.js')}}"></script>
  </body>
</html>